<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBM CA 101 | Welcome</title>
    <link rel="stylesheet" href="/foundation/css/foundation.css" />
    <script src="/foundation/js/vendor/modernizr.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome Cloud Advisors</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-4 columns">
        <h4>Column 1</h4>
        <img src=" http://placehold.it/350x150" />
      </div>
      <div class="large-4 columns">
        <h4>Column 2</h4>
        <p>Nec no debet graecis mentitum, soleat audiam ea duo. Quo ut prompta legimus, veritus scaevola eos at. Ad mei iriure maiorum necessitatibus, ad inermis officiis persequeris qui. Eos an dolore periculis similique, eum ut debet apeirian adolescens.</p>
      </div>
      <div class="large-4 columns">
        <h4>Column 3</h4>
        <p>Admodum recusabo cu has, no pri aliquando persecuti, eu usu altera vivendum detraxit. Ius movet feugiat ei, pri magna munere voluptua et. Ad eos erat veritus persecuti, vel cu porro timeam. Vim choro apeirian id, at qui quando commune, ei appetere neglegentur qui.</p>
      </div>
    </div>

    <script src="/foundation/js/vendor/jquery.js"></script>
    <script src="/foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
